<!DOCTYPE html>
<html>
  <head>
    <title>Gestión de Libros</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='stylesindex.css') }}"
    />
  </head>
  <body>
    <nav class="navbar">
      <a href="{{ url_for('inicio') }}" class="logo-navbar">
        <img
          src="{{ url_for('static', filename='Logo pf.png') }}"
          alt="Logo Libros"
          id="logo-navbar"
        />
      </a>
      <ul>
        <li><a href="{{ url_for('inicio') }}">Inicio</a></li>
        <li><a href="{{ url_for('agregar') }}">Agregar Libro</a></li>
        <li><a href="{{ url_for('catalogo') }}">Catálogo</a></li>
        <!-- Puedes agregar más enlaces aquí -->
      </ul>
    </nav>
    <h1 id="h-index">Gestión de Libros</h1>
    <p id="p-index">Total de libros: {{ total_libros }}</p>
    <a href="{{ url_for('agregar') }}" class="btn-agregar">Agregar Libro</a>
    <table class="tabla-libros">
      <thead>
        <tr>
          <th>Título</th>
          <th>Autor</th>
          <th>Categoría</th>
          <th>Precio</th>
          <th>Acciones</th>
        </tr>
      </thead>
      <tbody>
        {% for libro in libros %}
        <tr>
          <td>{{ libro.titulo }}</td>
          <td>{{ libro.autor }}</td>
          <td>{{ libro.categoria }}</td>
          <td>{{ libro.precio }}</td>
          <td>
            <a href="{{ url_for('editar', id=libro.id) }}" class="btn-editar"
              >Editar</a
            >
            <form
              action="{{ url_for('eliminar', id=libro.id) }}"
              method="POST"
              style="display: inline"
            >
              <button type="submit" class="btn-eliminar">Eliminar</button>
            </form>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
    <footer class="footer">
      <p id="p-index" class="index">
        &copy; 2025 Páginas Perdidas. Todos los derechos reservados.
      </p>
    </footer>
  </body>
</html>
